@{
    ViewBag.Title = "About Us";
}

<h2>About The Natural Wine Company</h2>
<hr />
<p>
To make great wines you need a few key ingredients. Naturally, things like good soil, healthy vines, sunlight, plentiful grapes and good barrels are all necessary. However, truly great wines require something more --something our family has cultivated alongside our 70 acres of premium varietals since 1933 --hard work and passion. 
    </p>
<p>
Founded over 78 years ago by our grandfather, we are the third generation of Tomasellos to build upon his great vision. Not only through dedicating our lives to growing and producing excellent wines that are a true expression of the Outer Coastal Plain --a historically celebrated American wine growing region, but by bringing our wines closer to your families with four elegant tasting rooms and gift shops throughout the great Garden State. 
    </p>
<p>
There is a saying in the wine business that “great wines are made in the vineyard.” We would like to take that a step beyond and say that: Yes, great wines are made at our vineyard, but it is the celebrations, the gatherings, the good times with family and friends that makes a wine even greater. 
</p>
<p>
Thank you for your continued love of our wines and loyalty. As our family grows, and our children learn the ways of the vineyard, we look forward to a place at your table for generations to come. 
    </p>
<p>
All the very best, 
 </p>
<p>
Jack and Charlie Tomasello – 3rd Generation New Jersey Winegrowers
</p>
